{
    "printWidth": 120,
    "endOfLine": "auto",
    "tabWidth": 4,
    "useTabs": true,
    "semi": true,
    "singleQuote": false,
    "arrowParens": "avoid",
    "trailingComma": "all",
    "bracketSpacing": true
}